*{
   
    
}.box{
    height: 100vh;
    width: 100vw;
    /* z-index: 0; */
    box-sizing: border-box;
    font-family: 'Roboto', 'Noto Sans', sans-serif;
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}


.a-tag{
    display: inline-block;
   box-sizing: border-box;
}
.shop-heading{
   
   letter-spacing: 0.4rem;
   font-weight: 900;
   color: rgb(17, 16, 16);
}

.grocery-icon{
    height: 8vh;
    padding: 1.2rem;
}
.hamburger{
    /* height: 8vh; */
    padding: 1.5rem;
}
.feature{
    width: 100vw;
    height: 28vh;
    object-fit: cover;
}
.card{
    text-align: center; 
}
.second-heading{
    margin-top: 1.2rem;
    margin-bottom: 1.6rem;
     font-weight: 300;
     font-family: 'Roboto', 'Noto Sans', sans-serif;
     color: rgb(17, 16, 16);;
     font-size: 16px;
}

.btn{
border: 2px solid rgb(17, 16, 16);;
text-align: center;
padding: 0.7rem 2.7rem;
margin-bottom: 2.5rem;
color: rgb(19, 18, 18);
font-size: 14px;
}
.t-shirt{
    display: flex;
    margin: 0%;
}
.t-shirt-btn{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    
}
.footer{
     text-align: center;
} 
.footer-tag{
    color: gray;
    font-size: 13px;
   
}
.demo-btn{
  font-size: 13px;
  background-color: black;
  color: white;
  padding: 0.7rem 1.2rem ;
  margin-top: 0.7rem;
}

.mens-heading{
    text-align: center;
    font-weight: 500;
    font-family: 'Roboto', 'Noto',sans-serif;
    font-size: 14.3px;
    color: #202020;
}
.items{
    font-size: small;
    color: gray;
    margin-top: .4rem;
}
.mens-cloth{
    display: grid;
    grid-template-columns: 50vw 50vw;
}
.details{
    text-align: center;
    font-size: 13px;
    color: #202020;
    font-weight: 700;
    
}
.price{
    font-size: 12px;
    color: gray;
    padding: 0.4rem;
}
.men-cloth-card{
    padding: 1rem;
    
}
.cart-heading{
    font-size: 14.3px;
    color: #202020;
}
.cart-item-text{
    font-size: 12px;
    color: #757575;
    padding: 0.3rem;
}
.cart-item{
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1.5fr 4fr 1.5fr ;
    column-gap: 0;
   
}
.cart-img{
    height: 12vh;
    width: 24vw;
    padding: 0.7rem;
}
.cart-item-name{
    font-size: 13px;
    color: #202020;
    font-weight: 200;
    padding: 1.3rem 0.1rem 1rem 0.1rem;
  
    
}
.product-details{
    
   
}
.price-related {
    display: flex;
    padding-left: 3.5rem;
    padding-top: 0.6rem;
}


.cart-option{
    padding: 0rem 0.6rem;
    border: none;
    outline: none;
    background: transparent;
}

.cart-function{
    display: grid;
    grid-template-columns: 0.8fr 2fr;
    padding: 1rem;
}
.billing{
    display: flex;
    flex-direction: column;
    
}
.discription{
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: space-between;
    padding-top: 1.8rem;
    padding-bottom: 1rem;
}
.discription-text{
    font-size: 13px;
    color: #202020;
    font-weight: 100;
}

.price-about{
    display: flex;
    /* justify-content: space-around   ; */
   align-items: end;
    font-size: 13px;
    color: #757575;
}
.qty-box{
    padding-left: 3rem;
}
.cart-option{
    padding-right: 0.8rem;
    font-size: 16px;
    color: #202020;
   
    
}
.cart-option-price{
    padding-left: 2rem;
}
.size{
    padding-left: 1rem ;
    padding-right: 0.6rem;
}
.size-symbol{
    padding-left: 0.8rem;
}
.cart-img{
    padding: 0.2rem;
}
.fa-xmark{
    padding-right: 0.8rem;
    color: #757575;
}
.total{
    display: flex;
    justify-content: end;
    /* padding: 0.4rem; */
   
}
.cart-final-total{
    color: #202020;
    padding: 0.8rem;
    font-weight: 700;
    font-size: 13px;
}
.total-price{
    padding: 0.8rem 1.4rem;
    font-size: 13px;
    color: #202020;
    font-weight: 700;
}
.cart-footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 1.3rem;
    background-color: #172C50;
    color: white;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}
.checkout-heading{
    /* align-items: center; */
    text-align: center;
    /* padding: 0.2rem; */
    font-size: 14.3px;
    font-weight: 300;
    color: var(--app-primary-color);
}
.checkout-text{
    color: #757575;
    font-weight: 100;
    font-size: 12px;
    padding: 0.6rem;
}
.checkout-form{
    display: flex;
    flex-direction: column;
    text-align: start;
   
}
#Email{
    padding: 0.8rem;
}
.ip{
    padding: 1rem;
    text-align: start;
}
.ip-heading{
    padding: 0.7rem 1.5rem;
    font-size: 14px;
    font-weight: 600;
    color: #202020;
}
hr{
    border: 0.1rem solid #a7a3a3;
  
}
.two-ip{
    display: flex;
    text-align: start;
    width: 100%;
    padding: 2%;
    padding-bottom:0% ;
   
}
.ip-dropdown{
    display: flex;
    flex-direction: column;
   padding: 0% 4%;
   /* align-items: start; */
}
.country-label{
   padding: 3%;
}

.billing-heading{
    padding-top: 7%;
    padding-left: 7%;
    padding-bottom: 4%;
}

.half-ip-box{
    padding: 2%;
    width: 50%;
}
.last-checkbox{
    padding:0% 6%
}
.checkout-checkbox{
    
}
