*{
    padding: 0;
    margin: 0;
    
}.box{
    height: 100vh;
    width: 100vw;
    /* z-index: 0; */
    font-family: 'Roboto', 'Noto Sans', sans-serif;
}
.header{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}


.a-tag{
    display: inline-block;
   box-sizing: border-box;
}
.shop-heading{
   
   letter-spacing: 0.4rem;
   font-weight: 900;
   color: rgb(17, 16, 16);
}

.grocery-icon{
    height: 8vh;
    padding: 1.2rem;
}
.hamburger{
    /* height: 8vh; */
    padding: 1.5rem;
}
.feature{
    width: 100vw;
    height: 28vh;
    object-fit: cover;
}
.card{
    text-align: center; 
}
.second-heading{
    margin-top: 1.2rem;
    margin-bottom: 1.6rem;
     font-weight: 300;
     font-family: 'Roboto', 'Noto Sans', sans-serif;
     color: rgb(17, 16, 16);;
     font-size: 16px;
}

.btn{
border: 2px solid rgb(17, 16, 16);;
text-align: center;
padding: 0.7rem 2.7rem;
margin-bottom: 2.5rem;
color: rgb(19, 18, 18);
font-size: 14px;
}
.t-shirt{
    display: flex;
    margin: 0%;
}
.t-shirt-btn{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    
}
.footer{
     text-align: center;
} 
.footer-tag{
    color: gray;
    font-size: 13px;
   
}
.demo-btn{
  font-size: 13px;
  background-color: black;
  color: white;
  padding: 0.7rem 1.2rem ;
  margin-top: 0.7rem;
}

.mens-heading{
    text-align: center;
    font-weight: 500;
    font-family: 'Roboto', 'Noto',sans-serif;
    font-size: 14.3px;
    color: #202020;
}
.items{
    font-size: small;
    color: gray;
    margin-top: .4rem;
}
.mens-cloth{
    display: grid;
    grid-template-columns: 50vw 50vw;
}
.details{
    text-align: center;
    font-size: 13px;
    color: #202020;
    font-weight: 700;
    
}
.price{
    font-size: 12px;
    color: gray;
    padding: 0.4rem;
}
.men-cloth-card{
    padding: 1rem;
    
}
.cart-heading{
    font-size: 14.3px;
    color: #202020;
}
.cart-item-text{
    font-size: 12px;
    color: #757575;
    padding: 0.3rem;
}
.cart-item{
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1.5fr 4fr 1.5fr ;
    column-gap: 0;
   
}
.cart-img{
    height: 12vh;
    width: 24vw;
    padding: 1rem;
}
.cart-item-name{
    font-size: 13px;
    color: #202020;
    font-weight: 200;
    padding: 1.3rem 0.1rem 1rem 0.1rem;
  
    
}
.product-details{
    
   
}
.price-related {
    display: flex;
    padding: 0.3rem;
}


.cart-option{
    padding: 0rem 0.6rem;
    border: none;
    outline: none;
    background: transparent;
}
.qty-text{
   padding: 0.4rem ;
   padding-left: 3rem;
   font-size: 13px;
   font-family: Arial, sans-serif;
   color: gray;
   font-weight: 100;
}
.size-txt{
    text-align: center;
    padding-left: 1rem;
    
}
.size-symbol{
    padding-left: 0.8rem;
}
.cross-bar{
    font-size: 18px;
     color:#757575;
     padding-left: 2rem;
     padding-top: 0.4rem;

}
.price{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.price-txt{
   padding-top: 1.9rem;
   padding-left: 1.2rem;
  
}
.total{
    display: flex;
    justify-content: end;
    align-items: center;
}
.total-price{
    font-size: 13px;
   padding-right: 2.3rem;
   
}
.total-txt{
    padding: 1.4rem 1.8rem;
    font-size: 13px;
    font-weight: 600;
}